body {
  background-color: #14161c;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

body::-webkit-scrollbar { width: 0 !important }

.text-h1-custom
{
  font-weight: 500;
  font-size: 36pt;
}

.text-h2-custom
{
  font-weight: 500;
  font-size: 28pt;
}

.text-h3-custom
{
  font-weight: 500;
  font-size: 24pt;
}

.text-h4-custom
{
  font-weight: 500;
  font-size: 16pt;
}

.text-h5-custom
{
  font-weight: 500;
  font-size: 13pt;
}

.text-h5-custom-offwhite{
  font-weight: 500;
  font-size: 13pt;
  color: rgb(102, 102, 102);
}


.text-h6-custom
{
  font-weight: 500;
  font-size: 9pt;
}